#################
## Portfolio
#################


.idea/
.idea/**/*

aws/
aws/**/*

node_modules/
node_modules/**/*

bower_components/
bower_components/**/*

assets/design
assets/design/**/*

dev/
dev/**/*
deploy/
deploy/**/*

### WORDPRESS ###
production/*.*
production/wp-admin/**/*
production/wp-includes/**/*
production/wp-content/languages/**/*
production/wp-content/plugins/**/*
production/wp-content/themes/*.*
production/wp-content/uploads/**/*
