#################
## Portfolio
#################


.idea/
.idea/**/*

node_modules/
node_modules/**/*

bower_components/
bower_components/**/*

assets/design
assets/design/**/*

dev/
dev/**/*
deploy/
deploy/**/*