header#header__index
    .particles_js
    .header__overlay
        .limiter-content
            .caption
                h1 ME GUSTA CODEAR
                .typed__layer
                    span SOY UN
                    h2.typed(data-typed__strings="PROGRAMADOR WEB,DESARROLLADOR MOVIL,CREADOR DE SOFTWARE")
            .button-scroll