header#home
    #header__index
        .particles_js
        .header__overlay
            .limiter-content
                .caption
                    h1 SERGIO ALFONSO
                    .typed__layer
                        span SOY UN
                        h2.typed(data-typed__strings="INGENIERO DE SOFTWARE,PROGRAMADOR WEB,DESARROLLADOR MOVIL,CREADOR DE SOFTWARE")
                .button-scroll