nav#principal-menu
    .limiter-content
        .row.middle-xs.between-xs
            a.title(href="#") SokoL
            ul.menu.row.middle-xs
                li
                    a(href="#header__index") Inicio
                li
                    a(href="#section5") Sobre Mí