section#about-me.section
    .limiter-content
        article.article.row.not-margin.top-xs.between-xs
            figure.about__image
                img(src="../assets/images/avatar.jpg", alt="Sergio Alfonso")
            .about__info
                header.title__section
                    h1.title SOBRE MÍ
                    h3.short__description MI HISTORIA
                .info
                    p
                        strong Color does not add a pleasant quality to design - it reinforces it.
                    p Suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable quis ullam laboris nisi ut aliquip ex ea commodo consequat.
                    p There are many variations of passages of Lyoi Too available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
                .socials.row.not-margin.middle-xs.center-xs
                    a.icon(href="#", target="_blank")
                        i.fa.fa-facebook
                    a.icon(href="#", target="_blank")
                        i.fa.fa-twitter
                    a.icon(href="#", target="_blank")
                        i.fa.fa-linkedin
                    a.icon(href="#", target="_blank")
                        i.fa.fa-github
        .section__areas.row.top-xs
            .col-md-7.col-xs-12
                .row.top-xs
                    .col-sm-6.col-xs-12
                        aside.section__area
                            header.title__area
                                .icon.et.icon-pencil
                                h3.title Educación
                            .area__info
                                .item
                                    p
                                        strong Universidad Pedagógica y Tecnológica de Colombia
                                    p Ingeniero de Sistemas y Computación
                                .item
                                    p
                                        strong Platzi
                                    p Curso Online Frontend
                                .item
                                    p
                                        strong Servicio Nacional de Aprendizaje SENA
                                    p Tecnólogo Analisis y Diseño de Sistemas de Información
                    .col-sm-6.col-xs-12
                        aside.section__area
                            header.title__area
                                .icon.et.icon-briefcase
                                h3.title Experiencia
                            .area__info
                                .item
                                    p
                                        strong Full Stack Developer
                                    p Dod Media Group
                                .item
                                    p
                                        strong Backend Developer
                                    p &Source Ltda
                                .item
                                    p
                                        strong Software Developer
                                    p Grupo Empresarial Mineralex
            .col-md-5.col-xs-12
                aside.section__area
                    header.title__area
                        .icon.et.icon-tools
                        h3.title Mis Habilidades
                    .area__info
                        .item
                            p
                                strong Backend Technologies: PHP (Yii, Laravel, Wordpress), Python (Django), Java, MySql, Oracle
                            .skill_progress(data-progress="90")
                        .item
                            p
                                strong Frontend Technologies: JavaScript (Angular.js, Jquery), Html5, Css3 (Less)
                            .skill_progress(data-progress="95")
                        .item
                            p
                                strong Mobile Developer: Android, Cordova
                            .skill_progress(data-progress="75")
                        .item
                            p
                                strong Software Design: Photoshop, Illustrator
                            .skill_progress(data-progress="65")