section#contact.section.section-padding.not-margin
    .limiter-content
        header.title__section.title__white
            h1.title CONTACTO
            h3.short__description CONÉCTATE CONMÍGO
        .section__areas
            .row.top-xs
                .col-sm-6.col-xs-12
                    .contact__info
                        aside.contact__block
                            header.title__area
                                h3.title Información Contacto
                            address
                                p
                                    strong Dirección:
                                    |  Tunja, Colombia
                                p
                                    strong Teléfono:
                                    |  317 283 1543
                                p
                                    strong Email:
                                    |  arag_ong@yahoo.es
                        aside.contact__block
                            header.title__area
                                h3.title Contáctame
                            .socials.row.not-margin.middle-xs
                                a.icon(href="#", target="_blank")
                                    i.fa.fa-facebook
                                a.icon(href="#", target="_blank")
                                    i.fa.fa-twitter
                                a.icon(href="#", target="_blank")
                                    i.fa.fa-linkedin
                                a.icon(href="#", target="_blank")
                                    i.fa.fa-github
                .col-sm-6.col-xs-12
                    form.form(action="#", method="POST")
                        .row
                            .col-sm-6.col-xs-12
                                .form__group
                                    input.form__input(name="name", placeholder="Nombre")
                            .col-sm-6.col-xs-12
                                .form__group
                                    input.form__input(name="email", type="emial", placeholder="Correo Electrónico")
                        .form__group
                            textarea.form__input(name="message", placeholder="Mensaje")
                        .form__group.row.not-margin.end-xs
                            button.btn(type="submit") ENVIAR MENSAJE