section#services.section.section-padding.not-margin
    .limiter-content
        header.title__section.title__white
            h1.title MIS SERVICIOS
            h3.short__description LO QUE HAGO
        .section__areas
            .row.top-xs.center-xs
                .col-md-4.col-sm-6.col-xs-12
                    aside.section__area
                        header.title__area
                            .icon.et.icon-tools
                            h3.title Web Design
                        .area__info
                            p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteu sunt in culpa qui officia.
                .col-md-4.col-sm-6.col-xs-12
                    aside.section__area
                        header.title__area
                            .icon.et.icon-mobile
                            h3.title Responsive Design
                        .area__info
                            p Digital Team is free responsive Bootstrap v3.3.5 layout from Images are from Pixabay free photo website.
                .col-md-4.col-sm-6.col-xs-12
                    aside.section__area
                        header.title__area
                            .icon.et.icon-basket
                            h3.title Ecommerce
                        .area__info
                            p You can edit and use this template for your websites. Please tell your friends about Tooplate. Thank you for visiting our website.
                .col-md-4.col-sm-6.col-xs-12
                    aside.section__area
                        header.title__area
                            .icon.et.icon-phone
                            h3.title Mobile App
                        .area__info
                            p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteu sunt in culpa qui officia.
                .col-md-4.col-sm-6.col-xs-12
                    aside.section__area
                        header.title__area
                            .icon.et.icon-puzzle
                            h3.title Software Development
                        .area__info
                            p You can easily change icons by looking at. Excepteu sunt in culpa qui officia. Duis aute irure dolor in reprehenderit.
                .col-md-4.col-sm-6.col-xs-12
                    aside.section__area
                        header.title__area
                            .icon.et.icon-strategy
                            h3.title Unlimited Support
                        .area__info
                            p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteu sunt in culpa qui officia.